<div class="box">
  <h1>Kółko i krzyżyk.</h1>
  <div class="info">Funkcjonalność w budowie</div>
  <ul class="Plansza">
    <li class="pole" id="0">O</li>
    <li class="pole" id="1">O</li>
    <li class="pole" id="2"></li>
    <li class="pole" id="3"></li>
    <li class="pole" id="4">X</li>
    <li class="pole" id="5"></li>
    <li class="pole" id="6"></li>
    <li class="pole" id="7"></li>
    <li class="pole" id="8"></li>
  </ul>
  <div class="clearfix"></div>
  <button class="reset">Reset</button>

</div>